<!DOCTYPE html>
<html lang="en">
<%-include ('../partials/head') %>
<body style="background-color: #f8f8f8;">
  <%-include ('../partials/user/user-navbar') %>    
   
    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5" style="padding-top: 100px;">
        <div class="row px-xl-5">
            
                <% for(i=0;i<details.images.length;i++){ %>
                    <div class="col-md-6 position-relative ">
                      <div class="d-flex justify-content-center  p-3">
                        <div id="img-container" class="img-cont">
                          <img id="main-image" class="main-image" src="/<%=details.images[i]%>" alt="">
                        </div>
                      </div>
                      <div class="d-flex px-5 justify-content-center">
                        <div class="col-2 d-flex justify-content-center mx-3">
                          <div class="card product-alt-card p-2">
                            <img class="product-alt-images" id="image1" onclick="changeImage(this)"
                              src="/<%=details.images[i]%>" alt="">
                          </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center mx-3">
                          <div class="card product-alt-card p-2">
                            <img class="product-alt-images" id="image2" onclick="changeImage(this)"
                              src="/<%=details.images[i+1]%>" alt="">
                          </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center mx-3">
                          <div class="card product-alt-card p-2">
                            <img class="product-alt-images" id="image3" onclick="changeImage(this)" src="/<%=details.images[i+2]%>"
                              alt="">
                          </div>
                        </div>
                      </div>
                    
                    </div>
                    <% break }%>
            <div class="col-md-6 h-auto mb-30">
                <div class="h-100  p-30 ">
                    <br><br><br><br><br>
                    <h2 class="text-uppercase">
                        <%=details.productname%>
                    </h2>
                    <!-- <div class="d-flex mb-3">
                        
                    </div> -->
                    <h3 class="font-weight-semi-bold mb-4">Rs <%=details.price%>/-
                    </h3><br>
                    <h3 class=" mb-4" style="color: rgb(91, 75, 75);"> <%=details.description%>  
                      <div>   
                        <a href="/users/addToCart?id=<%= details._id %>">
                          <button class="btn btn-primary px-3">
                            <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                          </button>
                        </a>
                        
                  </div>
                    <!-- <a href="/loadWishlist"> <button class="btn btn-secondary px-3"><i
                        class="fa fa-Wishlist mr-1"></i> Add To
                    Wishlist</button></a> -->            
                </div>
                <div>
                 
                    <h5 class="" style="color: green;">
                        <%=message%>
                    </h5>
                </div>
            </div>        
    </div>
    </div>
    <br>
    <hr>

    <!-- <script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>  -->
    <script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script> 
    <script src="/script/scriptadmin.js"></script>

    <script>
      const mainimage = document.getElementById("main-image")
      function changeImage(image) {
        mainimage.src = image.src
        new ImageZoom(document.getElementById("img-container"), options);
      }
      var options = {
        width: 300,
        height: 350,
        zoomWidth: 300,     
      };
      new ImageZoom(document.getElementById("img-container"), options);
    </script>

<%- include ('../partials/bottom-navbar') %>
</body>
</html>