<!DOCTYPE html>
<html lang="en">
<%-include ('../../partials/head')  %> 
<body style="background-color: #f5caca;">
    <%-include('../../partials/admin/dash-navbar')  %> 
    <br>
    <h5 class="text-center" style="color: #4c0404;">PRODUCT MANAGEMENT</h5>
  <br>
    
    <section class="container ">
      
        <div  class="row">
            <div class="col-12">
             

       <form action="/admin/products/editproducts/<%=products.id %>" method="post" enctype="multipart/form-data" >
       
            <div class="mb-2">
                <label for="productname" class="form-label fw-bold fs-5">Product Name</label>
                <input type="text" class="form-control border-2 border-secondary" style="width: 40%;" value="<%= products.productname %>" id="productname" name="productname" placeholder="" required>
              </div>
              <div class="mb-2">
                <label for="color" class="form-label fw-bold fs-5 ">Colour</label>
                <input type="text" class="form-control border-2 border-secondary" style="width: 40%;" value="<%= products.color %>" id="color" name="color" placeholder="" required>
              </div>              
               <div class="col-md-4">
                <label for="category" class="form-label fw-bold fs-5">Category</label>
                <select id="category" name="categoryId" class="form-select fw-bold border-2 border-secondary" style="width: 120%;"> 
                  <!-- <option selected>Choose...</option> -->
                  <% if(category.length>0){ %> 
                    <% category.forEach(item => { %> 
                      <option value="<%= item._id %>" <%= item._id.toString() == products.categoryId.toString() ? "selected" : '' %>  ><%= item.categoryname %> </option>
                    <% }) %> 
                  <% } %> 
                </select>
              </div> 
        <div class="mb-2">
            <label for="totalStoke" class="form-label fw-bold fs-5 ">Total Stock</label>
            <input type="number" class="form-control border-2 border-secondary" style="width: 40%;" value="<%= products.totalStoke %>" id="totalStoke" name="totalStoke" placeholder="" required>
          </div>
          <div class="col-md-4">
            <label class="form-label fw-bold fs-5" for="price">Price</label>
            <input type="number" value="<%= products.price %>" name="price" id="price" class="form-control border-2 border-secondary" style="width: 120%;" value="" required>
          </div>
          <div class="col-md-4">
            <label class="form-label fw-bold fs-5" for="price">Offer Percentage</label>
            <input type="number" value="" name="offer" id="offer" min="0" max="95" class="form-control border-2 border-secondary" style="width: 120%;" value="" >
          </div>
              <div class="mb-2">
                <label for="description" class="form-label fw-bold fs-5">Description</label>
                <textarea class="form-control border-2 border-secondary" style="width: 40%;"  id="description" name="description" rows="3" required><%= products.description %></textarea>
              </div> 
              <div>
                <img class="image m-3" style="width: 20%; height: 20%;"src="/<%= products.images[0] %>" alt="">
                <img class="image m-3" style="width: 20%; height: 20%;"src="/<%= products.images[1] %>" alt="">
                <img class="image m-3" style="width: 20%; height: 20%;"src="/<%= products.images[2] %>" alt="">
              </div>
              <div class="mb-2"> 
                <label for="image" class="form-label fw-bold fs-5">Images</label>
                <input class="form-control border-2 border-secondary" style="width: 40%;" type="file" id="image" name="image" >               
                <input class="form-control border-2 border-secondary" style="width: 40%;" type="file" id="image2" name="image2" >              
                <input class="form-control border-2 border-secondary" style="width: 40%;" type="file" id="image3" name="image3" >               
              </div>    
              <div class=" ">
                <button class="btn btn-outline-secondary btn-lg mt-3 mb-3 " type="submit"> EDIT PRODUCT</button>
              </div>             
         </form>        
         </div>
         </div>           
    </section>        

  <%-include('../../partials/adminFooter') %>

<script src="/script/scriptadmin.js"></script>  
</body>
</html>