<!DOCTYPE html>
<html lang="en">
<%-include ('../../partials/head') %>
<body style="background-color: #f5caca;">
  <%-include('../../partials/admin/dash-navbar')  %>  
  <br>
  <h5 class="text-center text-success" style="color: rgb(162, 8, 8);">PRODUCT MANAGEMENT</h5>
<br>
<section class="container ">
    <div  class="row">
        <div class="col-12">
    <form action="/admin/products/addproducts" method="post" enctype="multipart/form-data" >
        <div class="mb-2">
            <label for="productname" class="form-label fw-bold fs-5">Product Name</label>
            <input type="text" class="form-control border-2 border-secondary" style="width: 40%;" id="productname" name="productname" placeholder="" required>
          </div>
          <div class="mb-2">
            <label for="colour" class="form-label fw-bold fs-5 ">Colour</label>
            <input type="text" class="form-control border-2 border-secondary" style="width: 40%;"  id="colour" name="colour" placeholder="" required>
          </div>
          
          <div class="col-md-4">
            <label for="category" class="form-label fw-bold fs-5">Category</label>
            <select id="category" name="categoryId" class="form-select fw-bold border-2 border-secondary" style="width: 120%;" required>
              <!-- <option selected>Choose...</option> -->
              <% if(category.length>0){ %> 
                <% category.forEach(item => { %> 
                  <option value="<%= item._id %>"class="fw-bold"><%= item.categoryname %> </option>
                <% }) %> 
              <% } %> 
            </select>
          </div> 
    <div class="mb-2">
        <label for="totalstoke" class="form-label fw-bold fs-5 ">Total Stoke</label>
        <input type="number" class="form-control border-2 border-secondary" id="totalstoke" style="width: 40%;" name="totalstoke" placeholder="" required>
      </div>
      <div class="col-md-4"> 
        <label class="form-label fw-bold fs-5" for="price">Price</label>
        <input type="number" name="price" id="price" class="form-control border-2 border-secondary " style="width: 120%;" value="" required>
      </div>
      <div class="col-md-4">
        <label class="form-label fw-bold fs-5" for="price">Offer Percentage</label>
        <input type="number" name="offer" id="offer" max="95" min="0" class="form-control border-2 border-secondary " style="width: 120%;" value="" >
      </div>
          <div class="mb-2">
            <label for="description" class="form-label fw-bold fs-5">Description</label>
            <textarea class="form-control border-2 border-secondary" style="width: 40%;"  id="description" name="description" rows="3" required></textarea>
          </div> 
          <div class="mb-2">
            <label for="image" class="form-label fw-bold fs-5">Images</label>
            <input class="form-control border-2 border-secondary" style="width: 40%;"  type="file" id="image" name="image" required>
            <input class="form-control border-2 border-secondary" style="width: 40%;"  type="file" id="image2" name="image2" required>
            <input class="form-control border-2 border-secondary" style="width: 40%;"  type="file" id="image3" name="image3" required>
          </div>
          <div class=" ">
            <button class="btn btn-danger btn-lg mt-3 mb-3 " type="submit"> ADD PRODUCT</button>
          </div>        
     </form>
     </div>
     </div>
</section>
   
    
  <%-include('../../partials/adminFooter') %>
</body>
</html>
 <script defer src="https://cdn.crop.guide/loader/l.js?c=SDMRSY"></script> 